@import './variables.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

* {
  box-sizing: border-box;
}

html {
  font-family: $default-font;
  font-size: $font-size-base;
}

body {
  position: relative;
  min-height: 100vh;
  min-width: 320px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-weight: 400;
  line-height: 1.36;
  color: $base-font-color;
}

h1,
h2,
h3,
h4,
p, figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h3 {
   color: $text-color-bold;
   text-transform: uppercase;
   font-size: 1.2rem;
   
}

a {
  text-decoration: none;
  display: inline-block;
  //color: $text-color-bold;
  text-transform: uppercase;
  font-weight: bold;

}