.card {
   max-width: 2560px;
   margin: 0 auto;
   &__wrapper {
      width: 90%;
      height: auto;
      margin: 5rem auto;
   }
   &__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
   }
    &__colunmn-left {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
   }
   &__column-right {
      width: 50%;
   }
   &__column-image {
      overflow: hidden;
   }
   &__image > img {
      overflow: hidden;
      display: block;
      -webkit-transition: -webkit-transform .5s ease-in-out;
      transition: -webkit-transform .5s ease-in-out;
      -o-transition: transform .5s ease-in-out;
      transition: transform .5s ease-in-out;
      transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 0;
          -ms-transform-origin: 100% 0;
              transform-origin: 100% 0;
         &:hover {
            -webkit-transform: scale(1.5) translateX(20%);
                -ms-transform: scale(1.5) translateX(20%);
                    transform: scale(1.5) translateX(20%);
         }
   }
   &__column-description {
      padding: 0 0rem 0 2rem;
      position: relative;
   }
   &__price {
      padding: 1.5rem 0 1.9rem 0;
      font-size: 2rem;
      padding-right: 1rem;
   }
   &__price-value {
      padding-right: 1rem;
   }
   &__currency {
      vertical-align: super;
      font-size: smaller;
      line-height: normal;
   }
   &__future-item {
      padding: 0 0 0.6rem 0;
   }
   &__future-value {
      font-weight: bold;
      color: $text-color-bold;
      padding-right: 0.5rem;
      &_tags {
         color: $link-color;
         font-weight: 400;
      }
   }
   &__product {
      padding-top: 3rem;
   }
   &__product-items {
      position: relative;
      padding: 0.5rem 0 0 1.2rem;
   }
   &__product-item {
      &::before {
         content: "";
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         position: absolute;
         left: 0;
         margin-top: 0.6rem;
         -webkit-transform: translateY(-50%);
             -ms-transform: translateY(-50%);
                 transform: translateY(-50%);
         width: 4px;
         height: 4px;
         border-radius: 50%;
         background-color: $base-font-color;
      }
   }
   &__action {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      max-width: 100%;
      padding: 5rem 0 3rem 0;

   }
   &__btn_cart {
      background-color: $link-color;
      color: $white-color;
      margin-right: 2rem;
      border: none;
      &:hover {
         background-color: $accent-color;
         color: $white-color;
      }
   }
   &__btn_book {
      background-color: transparent;
      border: 1px solid $accent-color;
      &:hover {
         border-color: $link-color;
         background-color: $link-color;
         color: $white-color;
      }
   }
   &__detailes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
   }
   &__nav-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      background-color: rgb(248, 248, 248);
      margin-top: 1.8rem;
      margin-bottom: 1.5rem;
   }
   &__nav-item > a {
      font-size: 1em;
      padding: 1.2rem;
      white-space: nowrap;
      color: $text-color-bold;
      -webkit-transition: background-color .2s ease;
      -o-transition: background-color .2s ease;
      transition: background-color .2s ease;
      &:hover {
         color: $white-color;
         background-color: $accent-color;
      }
   }
   &__detailes-content {
      margin-bottom: 1rem;
      padding-left: 1rem;
      &_title {
         font-size: 13px;
         font-weight: bold;
         text-transform: uppercase;
         color: $accent-color;
         padding-bottom: 1rem;
      }
      &_text-one {
         padding-bottom: 1.5rem;
      }
   }
}

.btn {
   padding: 1.5em 3em;
   font-size: 1rem;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 2px;
   text-align: center;
   cursor: pointer;
   white-space: nowrap;
   outline: none;
   -webkit-transition: background-color .2s ease;
   -o-transition: background-color .2s ease;
   transition: background-color .2s ease;
}

@media (max-width: 800px) {
   .card {
      &__column-description {
         margin-top: 1rem;
         padding: 0 0rem 0 1.5rem;
      }
      &__colunmn-left {
         width: 100%;
      }
      &__column-right {
         width: 100%;
      }
      &__nav-item > a {
         font-size: 1em;
     }
     &__detailes-nav {
      padding-left: 1.1rem;
   }
   }
}

@media (max-width: 1124px) {
   .card {
      &__action {
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
      }
      &__btn_cart {
         margin-bottom: 2rem;
         margin-right: 0;
      }
   }
}

@media (max-width: 792px) {
   .card {
      &__action {
         padding: 2rem 0 1rem 0;
      }
      &__product {
         padding-top: 1rem;
      }
      &__price {
         padding: 1rem 0 1rem 0;
         font-size: 1.5rem;
      }
      &__nav-items {
         width: 100%;
         -webkit-box-pack: start;
         -ms-flex-pack: start;
         justify-content: flex-start;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                  flex-direction: column;
     }
     &__nav-item > a {
         width: 100%;
      }
   }
}

@media (max-width: 360px) {
   .card {
      &__product {
         padding: 0.5rem 0.5rem 0 0;

      }
      &__price {
         padding: 0.5rem 0 0.5rem 0;
         font-size: 1.3rem;
      }
      &__action {
         padding: 0.5rem 1rem 0.5rem 0;
      }
      &__btn_cart {
         margin-bottom: 1rem;
     }
      &__detailes-content {
         padding: 0 1rem;
      }
      &__detailes-nav {
         padding: 0 1.1rem;
      }
   }
   .btn {
      padding: 1.2em 1em;
      font-size: 0.8rem;
   }
}