.card {
   &__wrapper {
      width: 80%;
      margin: 5rem auto;
   }
   &__row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
   }
   &__column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
   }
   &__column-image {
      width: 100%;
      overflow: hidden;
   }
   &__image > img {
      overflow: hidden;
      width: 100%;
      transition: transform .5s ease-in-out;
      transform: scale(1);
      transform-origin: 100% 0;
         &:hover {
            transform: scale(1.5) translateX(20%);
         }
   }
   &__column-description {
      padding: 0 1rem;
      position: relative;
   }
   &__price {
      padding: 2rem 0 2.8rem 0;
   }
   &__price-value {
      font-size: 2rem;
      padding-left: 1rem;
   }
   &__currency {
      vertical-align: super;
      font-size: smaller;
      line-height: normal;
   }
   &__future-item {
      padding: 0 0 0.6rem 0;
   }
   &__future-value {
      font-weight: bold;
      color: $text-color-bold;
      padding-right: 0.5rem;
      &_tags {
         color: $link-color;
         font-weight: 400;
         }
      }
   &__product-items {
      position: relative;
      padding: 0.5rem 0 0 1.2rem;
      }
   &__product-item {
      &::before {
         content: "";
         display: flex;
         position: absolute;
         left: 0;
         margin-top: 0.6rem;
         transform: translateY(-50%);
         width: 4px;
         height: 4px;
         border-radius: 50%;
         background-color: $base-font-color;
      }
   }
   &__action {
      display: flex;
      flex-direction: row;

   }
   &__btn_cart {
      background-color: $link-color;
		color: rgb(255, 255, 255);
      border: none;
      &:hover {
         background-color: $accent-color;
         color: rgb(255, 255, 255);
      }
   }
   &__btn_book {
      background-color: transparent;
      border: 1px solid $accent-color;
      &:hover {
         border-color: $link-color;
         background-color: $link-color;
         color: rgb(255, 255, 255);
      }
   }
   &__detailes {
      display: flex;
      flex-direction: column;
      height: 100%
   }
   &__nav-items {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      background-color: rgb(248, 248, 248);
      margin-top: 1.8rem;
      margin-bottom: 1.5rem;
   }
   &__nav-item > a {
      font-size: 16px;
      padding: 1.2rem;
      transition: background-color .2s ease;
      &:hover {
         color: rgb(255, 255, 255);
         background-color: rgb(51, 51, 51);
      }
   }
   &__detailes-content {
      margin-bottom: 1rem;
      padding-left: 1rem;
      &_title {
         font-size: 13px;
         font-weight: bold;
         text-transform: uppercase;
         color: rgb(114, 114, 114);
         padding-bottom: 1rem;
      }
      &_text-one {
         padding-bottom: 1.5rem;
      }
   }
}

.btn {
   border-radius: 4px;
   padding: 20px 47px;
   font-size: 1rem;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 2px;
   text-align: center;
   cursor: pointer;
   white-space: nowrap;
}

@media (max-width: 600px) {
   .card {
      &__row {
         display: flex;
         flex-direction: column;
      }
      &__column {
         display: flex;
         flex-direction: row;
         flex-basis: 100%;
         flex: 1;
      }
   }
}