$font-size-base: 15px;
$default-font: 'Montserrat','Helvetica','Arial', sans-serif;
$base-font-color: rgb(142, 140, 140);
$link-color: rgb(0, 200, 200);
$accent-color: rgb(51, 51, 51);
$text-color-bold: rgb(87, 81, 83);
$page-content-width: 960px;